.page {
  margin: 4% 30%;
}

.array-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.array-bar {
  width: 3px;
  background-color: cadetblue;
  margin: 0px 1px;
}

.panel {
  border: 1px solid green;
  padding: 1%;
}

.buttons {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}

button {
  font-family: inherit;
  padding: 15px 25px;
  background-color: transparent;
  border: 1px solid;
}

button:hover {
  background-color: rgba(95, 158, 160, 0.2);
}

@media screen and (max-width: 1024px) {
  .page {
    margin: 4% 3%;
  }
}
